@font-face {
  font-family: opensans;
  src: url(opensans-regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  font-family: opensans;
  }

  /* general */
body {
	background-image: url(imagenes/Psicodelic.png); 
  color: rebeccapurple;
}
a {
  text-decoration: none;
  color: r ebeccapurple;
}
h1 {
  background: rebeccapurple;
  color: lightgoldenrodyellow;
}
h2 {
  background: rebeccapurple;
  color: lightgray;
}

.header {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 10px;
  font-size: 25px;
  padding-bottom: 10px;

}
.header_sections {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  font-size: 20px;
  gap: 10px;
}

.header_sections:hover{
  text-decoration: underline;
}
.header_sections a:hover{
  color: rebeccapurple;
  background: lightgrey;
  font-size: 30px;
}

.main {
  background: rebeccapurple;
  color: lightgrey;
  text-align: center;
  font-size: 15px;

}
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
	background-image: url(imagenes/Psicodelic.png);
  color: rebeccapurple;
  font-size: 20px;
  padding-bottom: 20px;
}
.img_inicio {
  width: 500px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.hero_2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
	background-image: url(imagenes/Psicodelic.png);
  font-size: 20px;
  padding-top: 20px;
}

.footer {
  display: flex;
  flex-direction: row;
  text-align: start;
  gap: 20px;
  font-size: 20px;
  background: lightgrey;
  margin-top: 20px;
}


/* Contactos */ 
.Datos {
  font-size: 20px;
  margin-bottom: 20px;
}

.legends {
  margin: 20px 60px;
  font-size: 25px;
  font-weight: 700;
}

/* servicios */ 
.header_contacto {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 10px;
  font-size: 25px;
  padding-bottom: 10px;
}

.img_servicios {
  width: 500px;
margin: 0px 500px 0px 500px;}

.conjunto_pre_res {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 100% 100% 100%;
  gap: 10px;
  margin-bottom: 20px;
}
.pre_res {
  background: rebeccapurple;
  color: white;
  font-size: 20px;
  text-align: center;
  border-radius: 20px;

}

/* informacion */ 

table {
  font-size: 20px;
  border: 2px solid rebeccapurple;
  background: white;
  width: 100%;
}
table th {
  background: rebeccapurple;
  color: lightgray;
  padding: 20px;

}
table td {
  background: rebeccapurple;
  color: lightgray;
  padding: 20px;
}

/* Galeria */ 
.main_galeria1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
} 

.imagen_titulo {
  padding: 0% 20% 0% 20%;
  background-color: rebeccapurple;
}

.imagen_titulo:hover {
  color: white;
  background-color: rebeccapurple;
  transition: background-color, 1s;
  transform: translate(0, -500px);
  cursor: pointer;
}

.main_galeria2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  transform: translate(0, 0px);
} 

.imagen_galeria2{
  width: 35%;
}

.imagen_titulo2 {
  padding: 0% 20% 0 20%;
  background: rebeccapurple;

}

.imagen_titulo2:hover {
  color: white;
  background-color: rebeccapurple;
  transition: background-color, 1s;
  transform: translate(0, -400px);
  cursor: pointer;
}
